/*
    Components: Brand
    ---
    Brand image/logo
*/

/**
 *  1. Needs to be the width of the logo you are using.
 *  2. Logo is set as background-image.
 *     Text-indent is set to prevent text from showing on top of the background-image.
 */

$logo-ratio: 3.3333;
//$logo-height: 1.75rem;
$logo-height: 30px;
$logo-width: $logo-height * $logo-ratio;

.c-logo {
    margin-bottom: 0;
    font-weight: $delta-font-weight;
    color: palette(color-neutral, x-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backface-visibility: hidden;
    @include uppercase;

    .c-header & {
        @if $flexbox == false {
            @include mq(bp3) {
                float: left;
            }
        }
    }
}

    .c-logo__link {
        display: block;
        height: 5rem;
        //width: 10rem;

        display: flex;
        justify-content: center;
        align-items: center;

        @include text-dimensions($alpha-font-size,1);

        @include mq(bp3) {
            //@include padding-lr(2,2);
        }
    }

    .c-logo__mark {
        display: block;
        width: $logo-width;
        height: $logo-height;
        background: transparent url(../img/svg/glasses.svg) 50% 50% no-repeat;
        background-size: contain;
        transition: all $animation-duration-gamma $animation-easing-beta;
        transition-delay: $animation-duration-beta;

        .c-logo__link:hover & {
            transform: rotate(0deg);
        }

        .is-ready & {
            transform: rotate(-10deg) translate3d(0,0,0);
        }

        .is-finished & {
            transition-delay: $animation-duration-alpha;
        }

        .shrink & {
            transform: rotate(0deg);
        }

    }

.c-nerdlab {
    //font-family: $beta-font-family;
    @include uppercase;
    font-weight: $jota-font-weight;
}
