/*
    Components: Brand
    ---
    Brand image/logo
*/

/**
 *  1. Needs to be the width of the logo you are using.
 *  2. Logo is set as background-image.
 *     Text-indent is set to prevent text from showing on top of the background-image.
 */

.c-logo {
    margin-bottom: 0;
    font-weight: $delta-font-weight;
    color: palette(color-neutral, x-dark);
    @include uppercase;

    .c-header & {
        @if $flexbox == false {
            @include mq(bp3) {
                float: left;
            }
        }
    }
}

    .c-logo__link {
        display: block;
        height: 5.5rem;
        width: 10.25rem;

        display: flex;
        justify-content: center;
        align-items: center;

        @include text-dimensions($alpha-font-size,1);

        @include mq(bp3) {
            @include padding-lr(2,2);
        }
    }

    .c-logo__mark {
        display: block;
        width: 6.25rem;
        height: 1.875rem;
        background: transparent url(../img/svg/glasses.svg) 50% 50% no-repeat;
        background-size: contain;
        transition: all $animation-duration-gamma $animation-easing-beta;

        .c-logo__link:hover & {
            transform: rotate(-10deg)
        }
    }

.c-nerdlab {
    font-family: $alpha-font-family;
    font-weight: $delta-font-weight;
    @include uppercase;
}
