/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/

.c-row {
    position: relative;
    @include clearfix;
    @include padding-tb($alpha-leading,0);
    @include padding-lr($columns-gutter,$columns-gutter);

    @include mq(bp2) {
        @include padding-lr($columns-gutter * 2, $columns-gutter * 2);
    }

    @include mq(bp4) {
        @include padding-lr($columns-gutter * 3, $columns-gutter * 3);
    }

    @include mq(bp5) {
        @include padding-lr($columns-gutter * 4, $columns-gutter * 4);
    }

    @include mq(bp7) {
        @include padding-lr($columns-gutter * 5, $columns-gutter * 5);
    }
}

.c-row--sm {
    @include mq(bp2) {
        @include padding-tb($alpha-leading * 2, $alpha-leading);
    }
}

.c-row--md {
    @include mq(bp2) {
        @include padding-tb($alpha-leading * 2, $alpha-leading);
    }

    @include mq(bp4) {
        @include padding-tb($alpha-leading * 3, $alpha-leading * 2);
    }

    @include mq(bp5) {
        @include padding-tb($alpha-leading * 4, $alpha-leading * 3);
    }

    @include mq(bp7) {
        @include padding-tb($alpha-leading * 5, $alpha-leading * 4);
    }
}

.c-row--border-top {
    border-top: 1px solid palette(color-neutral,xxx-light);
}

.c-row--intro {
    @include mq(bp3) {
        display: flex;
        align-items: flex-end;
        height: calc(100vh - 14rem);

        .o-container {
            width: 100%;
        }
    }
}
