/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/

.c-row {
    //max-width: 1500px;
    //margin: 0 auto;
    position: relative;
    @include padding-tb($alpha-leading,0);
    @include padding-lr($columns-gutter,$columns-gutter);

    //@include margin-lr($columns-gutter,$columns-gutter);
    //@include margin-bottom(1);

    @include mq(bp1) {
        @include padding-tb($alpha-leading * 2,$alpha-leading);
        @include padding-lr($columns-gutter * 2,$columns-gutter * 2);
    }

    @include mq(bp4) {
        @include padding-lr(4,4);
    }

}


.c-row--md {
    @include mq(bp3) {
        @include padding-tb(4,3);
    }

    @include mq(bp4) {
        @include padding-lr(4,4);
    }
}

.c-row--lg {
    @include mq(bp3) {
        @include padding-tb(4,3);
    }

    @include mq(bp4) {
        @include padding-lr(4,4);
    }

    @include mq(bp5) {
        @include padding-tb(6,5);
    }
}

.c-row--xl {
    @include mq(bp3) {
        @include padding-tb(4,3);
    }

    @include mq(bp4) {
        @include padding-lr(4,4);
    }

    @include mq(bp5) {
        @include padding-tb(12,13);
    }

    //@include mq(bp5) {
    //    @include padding-tb(15,14);
    //}
}

.c-row--full {
    //height: 100vh;
    //padding-top: 0;
    @include padding-tb(1,1);

    //padding-bottom: 0;
    height: calc(90vh - 7.5rem);
    //height: calc(100vh - 5.5rem);
    //height: calc(100vh - 7.5rem);
    //height: calc(100vh - 8.5rem);

    @include mq(bp4) {
        @include padding-lr(4,4);
    }
}
