/*
    Components: Navigation
    ---
    Site navigation, breadcrumbs, etc.
*/

.c-nav-main {
    display: none;

    .has-visible-nav & {
        display: block;
    }

    @include mq(bp3) {
        position: relative;
        bottom: auto;
        left: auto;
        right: auto;
        display: flex;
        flex-basis: 75%;
    }

    @include mq(bp4) {
        flex-basis: 50%;
        @include padding-left($columns-gutter);
    }
}

    .c-nav-main__list {
        margin-bottom: 0;
        text-align: right;
        @include padding-bottom(1);

        @include mq(bp3) {
            width: 100%;
            display: flex;
            align-items: center;
            text-align: left;
            padding-bottom: 0;
            justify-content: flex-end;
        }

        @include mq(bp4) {
            justify-content: space-between;
        }
    }

    .c-nav-main__item {
        & + & {
            @include mq(bp3) {
                @include margin-left($columns-gutter);
            }
            @include mq(bp4) {
                margin-left: 0;
            }
        }
    }

    .c-nav-main__link {
        display: block;
        text-decoration: none;
        @include text-dimensions($alpha-font-size,1,0,1,1);

        @include mq(bp3) {
            //@include padding-tb($alpha-leading,$alpha-leading);
            @include padding-tb(1,1);
            //@include padding-tb($alpha-leading/1.5,$alpha-leading/1.5);
        }

        &,
        &:visited {
            color: palette(color-neutral,xxx-dark);
            //color: palette(color-neutral,light);
        }

        &:hover,
        &:focus,
        .is-selected & {
            text-decoration: none;
            color: palette(color-beta);
            //color: palette(color-neutral,xxx-dark);
        }

        .is-exiting & {
            color: palette(color-neutral,xxx-dark);
            //color: palette(color-neutral,light);

            &:focus {
                color: palette(color-beta);
                //color: palette(color-neutral,xxx-dark);
            }
        }
    }

    .c-nav-main__link--button {

        @include mq(bp4) {
            border: 1px solid palette(color-neutral,xx-light);
            //border: 1px solid palette(color-alpha,xx-light);
            border-radius: 4rem;
            @include padding-lr(1.75,1.75);

            &,
            &:visited {
                //color: palette(color-alpha);
            }

            &:hover,
            &:focus,
            .is-selected & {
                //color: palette(color-beta);
                //border-color: palette(color-beta,xx-light);
            }

            .is-exiting & {
                border-color: palette(color-neutral,xx-light);
                color: palette(color-neutral,xxx-dark);
                //color: palette(color-alpha);
                //border: 1px solid palette(color-alpha,xx-light);

                &:focus {
                    //border-color: palette(color-beta,xx-light);
                    color: palette(color-beta);
                }
            }
        }
    }

.c-nav-main-trigger {
    user-select: none;
    display: block;
    color: palette(color-alpha);
    outline: 0;
    border: 0;
    height: 5rem;
    background-color: transparent;
    padding: 0;
    margin-left: auto;
    position: absolute;
    top: 0;
    right: 0;

    &.is-active {
        color: palette(color-neutral);
    }

    @include mq(bp3) {
        display: none;
    }
}

$trigger-line-height:        3px;
$trigger-line-offset:        8px;
$trigger-color:              palette(color-neutral,xxxx-dark);
$trigger-active-color:       palette(color-neutral,xxxx-dark);
$trigger-animation-duration: $animation-duration-gamma;

    .c-nav-main-trigger__icon {
        position: relative;
        display: block;
        width: $columns-gutter * 1rem;
        height: $trigger-line-height;
        background-color: $trigger-color;
        transition-property: all;
        transition-duration: $trigger-animation-duration;
        border-radius: 1px;

        &:before,
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: $trigger-line-height;
            position: absolute;
            background-color: $trigger-color;
            transition-property: all;
            transition-duration: $trigger-animation-duration;
            border-radius: 1px;
        }

        &:before {
            transform: translateY($trigger-line-offset * -1);
        }

        &:after {
            transform: translateY($trigger-line-offset);
        }

        .c-nav-main-trigger.is-active & {
            transform: rotate(45deg);

            &:before {
                width: 100%;
                transform: rotate(90deg);
            }

            &:after {
                width: 100%;
                transform: rotate(90deg);
            }
        }
    }
