/*
    Components: Navigation
    ---
    Site navigation, breadcrumbs, etc.
*/

.c-nav-main {
    display: none;

    @include mq(bp4) {
        display: block;
        display: flex;
        flex-basis: 50%;
        @include padding-left($columns-gutter);
    }

    &.is-visible {
        display: block;
    }

    .c-header & {

        @if $flexbox == false {
            @include mq(bp4) {
                float: right;
            }
        }
    }
}

    .c-nav-main__list {
        border: 1px solid palette(color-neutral,xx-light);
        border-width: 1px 0;
        margin-bottom: 0;

        @include mq(bp4) {
            border: 0;

            @if $flexbox {
                display: flex;
                width: 100%;
                justify-content: space-between;
                //justify-content: flex-end;
            }
        }
    }

    .c-nav-main__item {
        display: none;

        & + & {
            border-top: 1px solid palette(color-neutral,xx-light);
        }

        .c-header & {
            display: none;
        }

        @include mq(bp4) {
            @if $flexbox == false {
                float: left;
            }

            & + & {
                border-top: 0;
                //@include margin-left($columns-gutter*2);
            }

            .c-header & {
                display: block;
            }
        }
    }

    .c-nav-main__link {
        display: block;
        //color: palette(color-alpha);
        text-decoration: none;
        font-family: $beta-font-family;
        //font-weight: $delta-font-weight;
        @include text-dimensions($ms0,1,0,1,1);

        @include mq(bp4) {
            @include padding-tb($alpha-leading,$alpha-leading);
            //@include text-dimensions($ms-1,1);
            //@include padding-lr($alpha-leading,$alpha-leading);
        }

        &,
        &:visited {
            color: palette(color-alpha);
            //color: palette(color-neutral,x-dark);
        }

        &:hover,
        &:focus,
        .is-selected & {
            text-decoration: none;
            color: palette(color-beta);
            //color: palette(color-neutral,xx-dark);
        }

        .is-exiting & {
            color: palette(color-alpha);
            //color: palette(color-neutral,x-dark);

            &:focus {
                color: palette(color-beta);
            }
        }
    }

.c-nav-main-trigger {
    user-select: none;
    display: block;
    color: palette(color-alpha);
    outline: 0;
    border: none;
    height: 5rem;
    background-color: transparent;
    padding: 0;

    &.is-active {
        color: palette(color-neutral);
    }

    @include mq(bp4) {
        display: none;
    }
}

$trigger-line-height:        3px;
$trigger-line-offset:        8px;
$trigger-color:              palette(color-neutral,xx-dark);
$trigger-active-color:       palette(color-neutral,xx-dark);
$trigger-animation-duration: $animation-duration-gamma;

.c-nav-main-trigger__icon {
    position: relative;
    display: block;
    width: 1.5rem;
    height: $trigger-line-height;
    background-color: $trigger-color;
    transition-property: all;
    transition-duration: $trigger-animation-duration;

    &:before,
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: $trigger-line-height;
        position: absolute;
        background-color: $trigger-color;
        transition-property: all;
        transition-duration: $trigger-animation-duration;
    }

    &:before {
        transform: translateY($trigger-line-offset * -1);
    }

    &:after {
        transform: translateY($trigger-line-offset);
    }

    .c-nav-main-trigger.is-active & {
        transform: rotate(45deg);

        &:before {
            transform: rotate(90deg);
        }

        &:after {
            transform: rotate(90deg);
        }
    }
}
