/*
    Components: Stats
    ---
    Nerdlab stats
*/

.c-stats {
    text-align: center;
}

.c-stats__title {
    font-weight: $delta-font-weight;
    font-family: $alpha-font-family;
    margin-bottom: 0;
    color: palette(color-neutral);
    @include ms-2;
    @include uppercase;
}

.c-stats__number {
    font-family: $alpha-font-family;
    font-weight: $alpha-font-weight;
    color: palette(color-beta);
    @include ms7;
}
