/*
    Components: Subscribe
    ---
    Subscribe form
*/

.c-subscribe-form__input {
    background-color: transparent;
    //padding-top: 0;
    padding-left: 0;
    border-width: 0 0 1px;
    border-color: palette(color-alpha,xx-light);
    color: palette(color-alpha,xx-light);

    &:focus {
        color: palette(color-neutral,xxxx-light);
        border-color: palette(color-neutral,xxxx-light);
    }

    &::-webkit-input-placeholder {
        color: palette(color-alpha,light);
    }

    &::-moz-placeholder {
        color: palette(color-alpha,light);
    }

    &:-ms-input-placeholder {
        color: palette(color-alpha,light);
    }
}

.c-subscribe-form__buton {
    //background-color: palette(color-beta);
    //font-weight: $jota-font-weight;
    border-color: palette(color-alpha,xx-light);
    color: palette(color-alpha,xxx-light);
    background-color: transparent;
    border-width: 0 0 1px;
    padding-right: 0;
    padding-left: 0;
    //border-color: palette(color-beta,xx-light);
    //color: palette(color-beta,xx-light);

    &:hover,
    &:focus {
        color: palette(color-neutral,xxxx-light);
        border-color: palette(color-neutral,xxxx-light);
    }
}
