/*
    Components: Carousel
    ---
    Custom carousel
*/

//.c-gallery__cell {
//    @include margin-lr($columns-gutter,$columns-gutter)
//}

.c-gallery {
    overflow: hidden;
    height: 0;
    padding-bottom: 56%;

    .flickity-viewport {
        position: absolute;
        width: 100%;
    }

    @include mq(bp4) {
        padding-bottom: calc(100vh - 11.2rem);
    }

    @include mq(bp5) {
        padding-bottom: calc(100vh - 12.8rem);
    }

    @include mq(bp6) {
        padding-bottom: calc(100vh - 14.4rem);
    }
}

.c-gallery__cell {
    height: 100%;
    opacity: .75;
    transition: opacity $animation-duration-beta $animation-easing-alpha;

    //&:hover,
    &.is-selected {
      opacity: 1;
    }
}

.c-gallery__img {
    max-width: none;
    height: 100%;
}

/*! Flickity v1.1.1
http://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3rem;
  border: none;
  background: white;
  //background: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
}

.flickity-prev-next-button:hover { background: white; }

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F;
}

.flickity-prev-next-button:active {
  filter: alpha(opacity=60); /* IE8 */
  opacity: 0.6;
}

.flickity-prev-next-button.previous { left: 10px; }
.flickity-prev-next-button.next { right: 10px; }
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 0;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 0;
}

.flickity-prev-next-button:disabled {
  opacity: 0.3;
  cursor: auto;
}

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

.flickity-prev-next-button .arrow {
  fill: #333;
}
