/*
    Components: Header
    ---
    The header of the website
*/

.c-header-row {
    background-color: palette(color-neutral,xxxx-light);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all $animation-duration-beta $animation-easing-alpha;

    .is-finished & {
        transition-delay: 0;
    }

    .is-exiting & {
        transition-delay: $animation-duration-beta;
    }

    @include mq(bp4) {
        @include padding-tb(1,1);

        &.shrink {
            padding-top: 0;
            padding-bottom: 0;

            .is-exiting & {
                @include padding-tb(1,1);
            }
        }
    }
}

.c-header {
    display: flex;
    flex-direction: column;

    @include mq(bp4) {
        flex-direction: row;
    }
}
