/*
    Components: Icons
    ---
    UI icons
*/

.c-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: sub;
}

.c-icon__body {
    .c-icon--pacman & {
        fill: palette(color-beta);
    }
}

.c-icon--pacman {
    .c-icon__body {
        fill: orange;
    }

    .c-icon__eye {
        fill: white;
    }

    .c-icon__pupil {
        fill: palette(color-alpha);
    }
}

.c-icon--beer {
    .c-icon__glass {
        fill: #ffe600;
    }

    .c-icon__foam {
        fill: white;
    }
}
