/*
    Components: Main
    ---
    Main content section of the website
*/

@keyframes mainTransitionIn {
    0% {
        opacity: 0;
        transform: translateY($alpha-leading * 1rem);
        //transform: scale(0.99) translateY($alpha-leading * 1rem);
        //transform: scale(0.99);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        //transform: scale(1) translateY(0);
        //transform: scale(1);
    }
}

@keyframes mainTransitionOut {
    0% {
        opacity: 1;
        transform: translateY(0);
        //transform: scale(1) translateY(0);
        //transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: translateY($alpha-leading * 1rem);
        //transform: scale(0.99) translateY($alpha-leading * 1rem);
        //transform: scale(0.99);
    }
}

.c-main {
    backface-visibility: hidden;
    animation-fill-mode: both;
    animation-duration: $animation-duration-beta;
    animation-name: mainTransitionIn;
    animation-timing-function: $animation-easing-alpha;
    @include margin-top($alpha-leading * 3);

    @include mq(bp4) {
        @include margin-top($alpha-leading * 4);
    }

    @include mq(bp5) {
        //@include margin-top($alpha-leading * 9);
        @include margin-top($alpha-leading * 5);
    }

    .is-exiting & {
        animation-name: mainTransitionOut;
    }
}

.c-main-section {
    @include mq(bp3) {
        & + & {
            @include padding-top($alpha-leading);
        }
    }
}
