/*
    Components: Cards
    ---
    A card displays site content in a manner similar to a playing card.
*/

.c-card {
    width: 100%;
    //@include padding-tb(1,1);
    //@include padding-lr(1,1);
    //@include margin-bottom(1);
}
    // Reset bottom margins on children to make equal paddings possible
    .c-card__body > *:last-child,
    .c-card__body > *:last-child > *:last-child,
    .c-card__body > *:last-child > *:last-child > *:last-child {
        margin-bottom: 0;
    }

    .c-card__body {
        position: relative;
        overflow: hidden;
        @include padding($alpha-leading,$alpha-leading,0,$alpha-leading);
    }

.c-card--alpha {
    //color: palette(color-neutral,dark);
    background-color: palette(color-neutral,xxx-light);
    //border: $border-width $border-style palette(color-neutral,xxx-light);
    border-radius: $radius;
}

.c-card--gamma {
    border: 1px solid rgba(palette(color-neutral,xxxx-light),.25);
}
