/*
        Elements: Fonts
        ---
        Font-face declarations
*/

@font-face {
    font-family: 'Suisse';
    src: url('../fonts/SuisseIntl-Regular-WebS.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Suisse';
    src: url('../fonts/SuisseIntl-SemiBold-WebS.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Suisse Mono';
    src: url('../fonts/SuisseIntlMono-Regular-WebS.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Suisse Mono';
    src: url('../fonts/SuisseIntlMono-Bold-WebS.ttf') format('truetype');
    font-weight: 700;
}
