/*
    Elements: Page
    ---
    Default markup for page level elements
*/

// ---
// Variables
// ---

$html-font-family                   : $alpha-font-family !default;
$html-font-weight                   : $gamma-font-weight !default;
$html-font-size                     : $alpha-font-size !default;
$html-line-height                   : $alpha-line-height !default;

$html-background-color              : palette(color-neutral,xxxx-light) !default;
$body-color                         : palette(color-neutral,xx-dark) !default;

$body-font-smoothing                : true !default;

$body-selection-background-color    : palette(color-alpha) !default;
$body-selection-color               : palette(color-neutral,xxxx-light) !default;
$body-selection-text-shadow         : none !default;

// Styles

html {
    font: $html-font-weight #{$html-font-size/16*100%}/#{$html-line-height} $html-font-family;
    -webkit-overflow-scrolling: touch;
    background-color: $html-background-color;

    @include mq(bp3) {
        font-size: $alpha-font-size/16*112.5%;
    }

    @include mq(bp5) {
        font-size: $alpha-font-size/16*125%;
    }

    //@include mq(bp6) {
    //    font-size: $alpha-font-size/16*137.5%;
    //}

    //@include mq(bp7) {
    //    font-size: $alpha-font-size/16*150%;
    //}
}

body {
    color: $body-color;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";

    @if $body-font-smoothing == true {
        -webkit-font-smoothing: antialiased;
    }
}

::-moz-selection {
    background-color: $body-selection-background-color;
    color: $body-selection-color;
    text-shadow: $body-selection-text-shadow;
}

::selection {
    background-color: $body-selection-background-color;
    color: $body-selection-color;
    text-shadow: $body-selection-text-shadow;
}
