/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

// ---
// Variables
// ---

//$h1-font-family                : $delta-font-family !default;
//$h1-font-weight                : $delta-font-weight !default;

//$h1-font-family                : $gamma-font-family !default;
//$h1-font-weight                : $alpha-font-weight !default;

//$h1-font-family                : $beta-font-family !default;
//$h1-font-weight                : $alpha-font-weight !default;

$h1-font-family                : $alpha-font-family !default;
$h1-font-weight                : $delta-font-weight !default;
$h1-margin-bottom              : $beta-leading !default;

$h2-font-family                : $alpha-font-family !default;
$h2-font-weight                : $alpha-font-weight !default;
$h2-margin-bottom              : $alpha-leading !default;

$h3-font-family                : $alpha-font-family !default;
$h3-font-weight                : $alpha-font-weight !default;
$h3-margin-bottom              : $alpha-leading !default;

$h4-font-family                : $alpha-font-family !default;
$h4-font-weight                : $alpha-font-weight !default;
$h4-margin-bottom              : $alpha-leading !default;

$h5-font-family                : $alpha-font-family !default;
$h5-font-weight                : $alpha-font-weight !default;
$h5-margin-bottom              : $alpha-leading !default;

$h6-font-family                : $alpha-font-family !default;
$h6-font-weight                : $alpha-font-weight !default;
$h6-margin-bottom              : $alpha-leading !default;

$base-font-size                : $alpha-font-size !default;
$base-line-height              : 1 !default;
$base-margin-bottom            : $alpha-leading !default;
$base-indent                   : 2 !default;

$blockquote-font-style         : italic !default;
$blockquote-font-size          : $ms1 !default;
$blockquote-line-height        : 1 !default;
$blockquote-margin-bottom      : $alpha-leading !default;

$small-font-size               : $ms1 !default;
$small-line-height             : 1 !default;
$small-margin-bottom           : $alpha-leading !default;

$horizontal-rule-border-width  : 1px 0 0 !default;
$horizontal-rule-border-style  : solid !default;
$horizontal-rule-border-color  : palette(color-neutral,light) !default;

$horizontal-rule-margin-top    : 0 !default;
$horizontal-rule-margin-bottom : $alpha-leading !default;

$link-transition               : all $animation-duration-alpha $animation-easing-alpha !default;

$link-decoration               : none !default;
$link-decoration--hover        : underline !default;

$link-color                    : palette(color-alpha) !default;
$link-color--visited           : palette(color-alpha) !default;
$link-color--hover             : palette(color-beta) !default;
$link-color--focus             : palette(color-beta,dark) !default;

$link-outline                  : 0 !default;
$link-outline--focus           : thin dotted !default;

// ---
// Styles
// ---

h1 {
    font-family: $h1-font-family;
    font-weight: $h1-font-weight;
    @include uppercase;
    @include ms4;
    @include margin-bottom($h1-margin-bottom);

    @include mq(bp3) {
        @include ms8;
    }
}

h2 {
    font-family: $h2-font-family;
    font-weight: $h2-font-weight;
    @include ms2;
    @include margin-bottom($h2-margin-bottom);
}

h3 {
    font-family: $h3-font-family;
    font-weight: $h3-font-weight;
    @include ms1;
    @include margin-bottom($h3-margin-bottom);
}

h4 {
    font-family: $h4-font-family;
    font-weight: $h4-font-weight;
    @include ms0;
    @include margin-bottom($h4-margin-bottom);
}

h5 {
    font-family: $h5-font-family;
    font-weight: $h5-font-weight;
    @include ms0;
    @include margin-bottom($h5-margin-bottom);
}

h6 {
    font-family: $h6-font-family;
    font-weight: $h6-font-weight;
    @include ms0;
    @include margin-bottom($h6-margin-bottom);
}

p,
ol,
ul,
dl,
table,
address {
    @include text-dimensions($base-font-size,$base-line-height);
    @include margin-bottom($base-margin-bottom);
}

pre {
    tab-size: $base-indent;
}

ul,
ol,
blockquote {
    padding-left: #{$base-indent}em;
}

li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}

blockquote {
    font-style: $blockquote-font-style;
    @include text-dimensions($blockquote-font-size,$blockquote-line-height);
    @include margin-bottom($blockquote-margin-bottom);
}

small {
    @include text-dimensions($small-font-size,$small-line-height);
    @include margin-bottom($small-margin-bottom);
}

hr {
    border-width: $horizontal-rule-border-width;
    border-style: $horizontal-rule-border-style;
    border-color: $horizontal-rule-border-color;
    clear: both;
    @include margin-tb($horizontal-rule-margin-top,$horizontal-rule-margin-bottom);
}

// Links

a {
    text-decoration: $link-decoration;
    color: $link-color;
    transition: $link-transition;

    &:visited {
        color: $link-color--visited;
    }

    &:hover {
        text-decoration: $link-decoration--hover;
        color: $link-color--hover;
    }

    &:focus {
        outline: $link-outline--focus;
        color: $link-color--focus;
    }

    &:hover,
    &:active {
        outline: $link-outline;
    }
}
