/*
        Elements: Fonts
        ---
        Font-face declarations
*/

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Regular-Web.woff2') format('woff2'),
         url('../fonts/Graphik-Regular-Web.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Bold-Web.woff2') format('woff2'),
         url('../fonts/Graphik-Bold-Web.woff') format('woff');
    font-weight: 700;
}
