/*
    Objects: Grid
    ---
    Grid system objects, works together with utility width classes
*/


// ---
// Variables
// ---

$grid-max-width : map-get($breakpoints,bp4) !default;
$grid-gutter    : $columns-gutter !default;

// ---
// Styles
// ---

.o-container {
    margin-left: auto;
    margin-right: auto;
    //max-width: $grid-max-width;

    @include mq(bp4) {
        //@include padding-left(10);
    }

}

// No gutters

.o-grid {

    @if $flexbox == false {
        @include clearfix;
    }

}

// Default gutter

.o-grid--gutter {
    @include margin-lr(-($grid-gutter),-($grid-gutter));
}
    // Grid item, takes the full width by default

    .o-grid__item {

        @if $flexbox {
            //flex-basis: 100%;
        } @else {
            float: left;
            width: 100%;
        }

        .o-grid--gutter > & {
            @include padding-lr($grid-gutter,$grid-gutter);
        }
    }
