/*
    Scope: Content
    ---
    Content specific styles
*/

.s-content {
    //text-align: justify;

    a {
        display: inline-block;
        font-weight: $gamma-font-weight;

        &:hover {
            text-decoration: none;
            //background-color: palette(color-alpha);
            //color: palette(color-neutral,xxxx-light);
        }
    }

}
