//
//  Settings: Colors
//  ---
//  The palette function works with a base color and a tint.
//

// Palette function > eg. palette(color-alpha,base)
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}

// Base colors

$color-alpha                : #36F !default;
$color-beta                 : #f33 !default;

$color-error                : #FF4136 !default;
$color-success              : #2ECC40 !default;
$color-notice               : #FF851B !default;

$color-neutral              : hsl(hue($color-alpha),5,50) !default;

// Palettes
$palettes: (
    color-neutral: (
        xxxx-light          : hsl(hue($color-neutral),saturation($color-neutral),100),
        xxx-light           : hsl(hue($color-neutral),saturation($color-neutral),95),
        xx-light            : hsl(hue($color-neutral),saturation($color-neutral),87.5),
        x-light             : hsl(hue($color-neutral),saturation($color-neutral),75),
        light               : hsl(hue($color-neutral),saturation($color-neutral),62.5),
        base                : $color-neutral,
        dark                : hsl(hue($color-neutral),saturation($color-neutral),37.5),
        x-dark              : hsl(hue($color-neutral),saturation($color-neutral),27.5),
        xx-dark             : hsl(hue($color-neutral),saturation($color-neutral),20),
        xxx-dark            : hsl(hue($color-neutral),saturation($color-neutral),12.5),
        xxxx-dark           : hsl(hue($color-neutral),saturation($color-neutral),2.5)
    ),
    color-alpha: (
        xxx-light           : hsl(hue($color-alpha),saturation($color-alpha),lightness($color-alpha + 90)),
        xx-light            : hsl(hue($color-alpha),saturation($color-alpha),lightness($color-alpha + 75)),
        x-light             : hsl(hue($color-alpha),saturation($color-alpha),lightness($color-alpha + 50)),
        light               : hsl(hue($color-alpha),saturation($color-alpha),lightness($color-alpha + 25)),
        base                : $color-alpha,
        dark                : hsl(hue($color-alpha),saturation($color-alpha),lightness($color-alpha - 25)),
        x-dark              : hsl(hue($color-alpha),saturation($color-alpha),lightness($color-alpha - 50)),
        xx-dark             : hsl(hue($color-alpha),saturation($color-alpha),lightness($color-alpha - 75))
    ),
    color-beta: (
        xxx-light           : hsl(hue($color-beta),saturation($color-beta),lightness($color-beta + 90)),
        xx-light            : hsl(hue($color-beta),saturation($color-beta),lightness($color-beta + 75)),
        x-light             : hsl(hue($color-beta),saturation($color-beta),lightness($color-beta + 50)),
        light               : hsl(hue($color-beta),saturation($color-beta),lightness($color-beta + 25)),
        base                : $color-beta,
        dark                : hsl(hue($color-beta),saturation($color-beta),lightness($color-beta - 25)),
        x-dark              : hsl(hue($color-beta),saturation($color-beta),lightness($color-beta - 50)),
        xx-dark             : hsl(hue($color-beta),saturation($color-beta),lightness($color-beta - 75))
    ),
    color-error: (
        light               : hsl(hue($color-error),70,60),
        base                : $color-error,
        dark                : hsl(hue($color-error),100,35),
    ),
    color-success: (
        light               : hsl(hue($color-success),70,60),
        base                : $color-success,
        dark                : hsl(hue($color-success),100,35),
    ),
    color-notice: (
        light               : hsl(hue($color-notice),70,60),
        base                : $color-notice,
        dark                : hsl(hue($color-notice),100,35),
    )
);
