//
//  Settings: Chopstick settings
//  ---
//  Your default settings
//

// ---
// Typography
// ---

// manual modular scale font sizes
// based on http://modularscale.com/scale/?px1=16&px2=18&ra1=1.333&ra2=0

$ms-3                       : 11 !default;
$ms-2                       : 12 !default;
$ms-1                       : 14 !default;
$ms0                        : 16 !default;
$ms1                        : 18 !default;
$ms2                        : 21 !default;
$ms3                        : 23 !default;
$ms4                        : 28 !default;
$ms5                        : 31 !default;
$ms6                        : 37 !default;
$ms7                        : 42 !default;
$ms8                        : 50 !default;
$ms9                        : 56 !default;
$ms10                       : 67 !default;
$ms11                       : 75 !default;
$ms12                       : 89 !default;
$ms13                       : 100 !default;

// Basic font settings

//$alpha-font-family          : 'FF DIN Pro Bold', sans-serif;
//$alpha-font-family          : 'purista-web', sans-serif;
//$alpha-font-family          : 'PF Din Mono Medium', sans-serif;
//$alpha-font-family           : 'Input Mono', sans-serif;
$alpha-font-family           : 'Input Sans Narrow', sans-serif;
$alpha-font-family           : 'Nitti Grotesk', sans-serif;
//$alpha-font-family           : -apple-system-body, sans-serif;
//$alpha-font-family           : 'Input Mono', monospace;
//$beta-font-family           : 'nudista-web', sans-serif;
//$beta-font-family           : 'Inconsolata', mono;
//$beta-font-family           : 'Maison Neue Mono', mono;
//$beta-font-family           : 'PF Din Mono Light', mono;
//$beta-font-family           : 'Input Mono', monospace;
//$beta-font-family           : 'Input Sans Narrow', monospace;
//$beta-font-family           : 'Fira Mono', monospace;
$beta-font-family           : 'Nitti', monospace;
//$beta-font-family           : 'Droid Sans Mono', monospace;
$gamma-font-family          : 'kulturista-web', sans-serif;
$delta-font-family          : 'republic-web', sans-serif;

$alpha-font-size            : $ms0;

$alpha-font-weight          : 200;
$beta-font-weight           : 300;
$gamma-font-weight          : 400;
$delta-font-weight          : 500;
$jota-font-weight           : 700;

$alpha-line-height          : 1.6;

$alpha-leading              : 1.6;
$beta-leading               : 2;

// ---
// UI
// ---

$radius                     : 1px;
$border-width               : 1px;
$border-style               : solid;


// ---
// Z-indexes
// ---

$z-indexes: (
    alpha                   : 1,
    beta                    : 2,
    gamma                   : 3,
    delta                   : 4,
    jota                 : 5
) !default;

// ---
// Breakpoints
// ---

$breakpoints: (
    bp1                     : 320/16*1em,
    bp2                     : 480/16*1em,
    bp3                     : 680/16*1em,
    bp4                     : 960/16*1em,
    bp5                     : 1140/16*1em,
    bp6                     : 1440/16*1em
) !default;

// ---
// Grid
// ---

// 1 times the $alpha-font-size. It's calculated in rem in _tools.spacing.scss
$columns-gutter             : 1 !default;

// Define the amount of columns in the grid
$columns: (
    1,
    2,
    3,
    4,
    5,
    6,
    7,
    8,
    10,
    12
) !default;

// want to use flexbox?
$flexbox: true !default;

// ---
// Increments
// ---

$increments: (
    alpha                   : 0,
    beta                    : .75,
    gamma                   : 1.5,
    delta                   : 3,
    jota                    : 4.5
) !default;

// ---
// Animations
// ---

$animation-duration-alpha   : .15s;
$animation-duration-beta    : .30s;
$animation-duration-gamma   : .45s;
$animation-easing-alpha     : $ease-in-out-cubic;
$animation-easing-beta      : $ease-in-out-back;

// ---
// Tools
// ---

$debug-mode                 : false !default; // toggles the debug mode
