/*
    Utilities: Font Family
    ---
    Utility classes for font-family
*/

.u-font-family-alpha {
    font-family: $alpha-font-family;
}

.u-font-family-beta {
    font-family: $beta-font-family;
}
