/*
    Utilities: Font Weight
    ---
    Utility classes for font-weight
*/

.u-font-weight-alpha {
    font-weight: $alpha-font-weight;
}

.u-font-weight-beta {
    font-weight: $beta-font-weight;
}

.u-font-weight-gamma {
    font-weight: $gamma-font-weight;
}

.u-font-weight-delta {
    font-weight: $delta-font-weight;
}

.u-font-weight-jota {
    font-weight: $jota-font-weight;
}
