/*
    Utilities: Spacing
    ---
    Utility classes for spacing
*/

// Loop through the increments map and get the value.
@each $increment, $value in $increments {

    // Increment utility class (e.g. .u-mt-alpha)
    .u-mt-#{$increment} {
        @include margin-top($value);
    }

    // Increment utility class (e.g. .u-mb-alpha)
    .u-mb-#{$increment} {
        @include margin-bottom($value,true);
    }

    // Increment utility class (e.g. .u-pt-alpha)
    .u-pt-#{$increment} {
        @include padding-top($value);
    }

    // Increment utility class (e.g. .u-pb-alpha)
    .u-pb-#{$increment} {
        @include padding-bottom($value);
    }
}

@include mq(bp3) {
    @each $increment, $value in $increments {

        // Increment utility class (e.g. .u-mt-alpha)
        .u-mt-#{$increment}-bp3 {
            @include margin-top($value);
        }

        // Increment utility class (e.g. .u-mb-alpha)
        .u-mb-#{$increment}-bp3 {
            @include margin-bottom($value,true);
        }

        // Increment utility class (e.g. .u-pt-alpha)
        .u-pt-#{$increment}-bp3 {
            @include padding-top($value);
        }

        // Increment utility class (e.g. .u-pb-alpha)
        .u-pb-#{$increment}-bp3 {
            @include padding-bottom($value);
        }
    }
}

.u-pr-0 {
    padding-right: 0 !important;
}

.u-pl-0 {
    padding-left: 0 !important;
}

.u-pt-0 {
    padding-top: 0 !important;
}

.u-pb-0 {
    padding-bottom: 0 !important;
}

.u-mt-0 {
    margin-top: 0 !important;
}
