/*
    Utilities: Shame
    ---
    Hacks and quick fixes
*/

#mfPreviewBar {
    display: none;
}

@font-face{
    font-family:'Maison Neue Mono';
    src: url('../fonts/MaisonNeueTRIAL-Mono.otf'); /* everyone else take this */
}

.c-main {
    background-color: #fff;
    @include padding-top(3);

    //@include mq(bp4) {
    //    @include padding-top(7.5);
    //}

}

.c-stats {
    text-align: center;
}

.c-stats__title {
    font-weight: $delta-font-weight;
    font-family: $alpha-font-family;
    margin-bottom: 0;
    color: palette(color-neutral);
    @include ms-2;
    @include uppercase;
}

.c-stats__number {
    //font-family: $gamma-font-family;
    font-family: $alpha-font-family;
    font-weight: $alpha-font-weight;

    //font-family: $delta-font-family;
    //font-weight: $delta-font-weight;

    color: palette(color-beta);
    @include ms7;
}

.c-intro {
    //display: flex;
    //justify-content:

    //@include mq(bp3) {
    //    @include padding-tb(4.5,7);
    //}
    //
    //@include mq(bp4) {
    //    @include padding-tb(7.5,10);
    //}
    //
    //@include mq(bp5) {
    //    @include padding-tb(12.5,15);
    //}

    //@include mq(bp5) {
    //    @include padding-tb(10,9);
    //}
}

.c-main-section {
    & + & {
        @include padding-top(3);
    }
}

.u-font-family-alpha {
    font-family: $alpha-font-family;
}

.u-font-weight-alpha {
    font-weight: $alpha-font-weight;
}

.u-font-weight-beta {
    font-weight: $beta-font-weight;
}

.u-font-weight-gamma {
    font-weight: $gamma-font-weight;
}

.u-font-weight-delta {
    font-weight: $delta-font-weight;
}

.u-font-weight-jota {
    font-weight: $jota-font-weight;
}

// footer

.c-footer-link {
    &,
    &:visited {
        //text-decoration: underline;
        font-weight: $gamma-font-weight;
        color: palette(color-neutral,xxxx-light);
    }

    &:hover {
        text-decoration: none;
        opacity: .75;
        color: palette(color-neutral,xxxx-light);
    }
}
