/*
        Utilities: Shame
        ---
        Hacks and quick fixes
*/

.u-clear-row-left {
    @include mq(bp3) {
        @include margin-left($columns-gutter * -2);
    }

    @include mq(bp5) {
        @include margin-left($columns-gutter * -3);
    }

    @include mq(bp6) {
        @include margin-left($columns-gutter * -4);
    }

    @include mq(bp7) {
        @include margin-left($columns-gutter * -5);
    }
}

.u-clear-row-left-half {
    @include mq(bp3) {
        @include margin-left($columns-gutter * -2);
    }
}

.u-clear-row-md-top {
    @include mq(bp2) {
        @include margin-top($alpha-leading * -2);
    }

    @include mq(bp5) {
        @include margin-top($alpha-leading * -3);
    }

    @include mq(bp6) {
        @include margin-top($alpha-leading * -4);
    }

    @include mq(bp7) {
        @include margin-top($alpha-leading * -5);
    }
}

.u-clear-row-right {
    @include mq(bp3) {
        @include margin-right($columns-gutter * -2);
    }

    @include mq(bp5) {
        @include margin-right($columns-gutter * -3);
    }

    @include mq(bp6) {
        @include margin-right($columns-gutter * -4);
    }

    @include mq(bp7) {
        @include margin-right($columns-gutter * -5);
    }
}

.u-clear-row-right-half {
    @include mq(bp3) {
        @include margin-right($columns-gutter * -2);
    }
}

.u-clear-gutter-left-bp3 {
    @include mq(bp3) {
        @include margin-left($columns-gutter * -2);
    }
}

.u-layer {
    position: relative;
}

.c-background-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

    .c-background-image--fallback {
        .videoautoplay & {
            display: none;
        }
    }

.c-background-video {
    z-index: -1;
    display: none;

    .videoautoplay & {
        display: block;
    }
}

    .c-background-video__meta {
        position: absolute;
        bottom: 0;
        right: $columns-gutter * 1rem;
        color: rgba(#fff,.75);
        @include ms-3;

        @include mq(bp3,max) {
            display: none;
        }
    }

.u-opacity-alpha {
    opacity: .5;
}

.c-subscribe-text {
    @include margin-bottom(.4);
}

.c-map {
    height: 50vh;

    @include mq(bp4) {
        height: 75vh;
    }
}

    .c-map__content {
        font-family: $alpha-font-family;
        margin-bottom: 0;
        @include padding-lr(1,1);
        @include padding-tb(1,1);
    }
