/*
        Utilities: Shame
        ---
        Hacks and quick fixes
*/

.c-event-list {
    display: flex;
}

.c-typo-intro {
    @include ms1;

    @include mq(bp3) {
        @include ms3;
    }
}

.c-typo-project-title {
    font-weight: $alpha-font-weight;

    @include mq(bp3) {
        //color: palette(color-neutral) !important;
        //margin-top: -.35em;
        //@include ms0;
        @include margin-bottom(2);
    }
}

.u-clear-row-left {
    //@include margin-left($columns-gutter * -1);

    @include mq(bp3) {
        @include margin-left($columns-gutter * -2);
    }

    @include mq(bp5) {
        @include margin-left($columns-gutter * -3);
    }

    @include mq(bp6) {
        @include margin-left($columns-gutter * -4);
    }

    @include mq(bp7) {
        @include margin-left($columns-gutter * -5);
    }
}

.u-clear-row-md-top {
    @include mq(bp2) {
        @include margin-top($alpha-leading * -2);
    }

    @include mq(bp5) {
        @include margin-top($alpha-leading * -3);
    }

    @include mq(bp6) {
        @include margin-top($alpha-leading * -4);
    }

    @include mq(bp7) {
        @include margin-top($alpha-leading * -5);
    }
}


.u-clear-row-right {
    //@include margin-right($columns-gutter * -1);

    @include mq(bp3) {
        @include margin-right($columns-gutter * -2);
    }

    @include mq(bp5) {
        @include margin-right($columns-gutter * -3);
    }

    @include mq(bp6) {
        @include margin-right($columns-gutter * -4);
    }

    @include mq(bp7) {
        @include margin-right($columns-gutter * -5);
    }
}

.u-clear-gutter-left-bp3 {
    @include mq(bp3) {
        @include margin-left($columns-gutter * -2);
    }
}

.u-layer {
    position: relative;
}
