---
layout: default
title: Agenda
section: about
---
<div class="c-row c-row--md u-bgcolor-alpha-xxx-light u-z-gamma">
    <div class="o-container">
        <!-- <div class="c-main-section">
            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-1-of-2-bp4">
                    <div class="u-max-width-sm s-content">
                        <p>
                            Lorem is always on the lookout for likeminded people, whether you're a start-up company with big ideas or an established brand ready to make a big impact. Kom eens goeiedag zeggen op.
                        </p>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="c-main-section">

            {% for item in site.data.events-future %}
                {% include components.event.html %}
            {% endfor %}

        </div>
    </div>
</div>
