---
layout: default
title: Homepage
section: home
---
<!-- <div class="c-row c-row--xl u-bgcolor-alpha-base">
    <div class="o-container">
        <p class="u-color-alpha-xx-light u-max-width-md u-ms1">
            <span class="c-nerdlab u-color-neutral-xxxx-light">Nerdlab</span> loves to build new machines out of sometimes already forgotten technologies*. Everything working on batteries deserves a better live. That can be a musical instrument, a barbecue tool or any other helpful object. We believe in the power of a clear idea, doing completely the opposite and learning ourselfs the skills to accomplish the undoable.
        </p>
    </div>
</div> -->

<!-- <div class="c-row c-row--xl u-bgcolor-neutral-xxx-light">
    <div class="o-container">
        <p class="u-color-neutral-x-dark u-max-width-md u-align-horizontal u-ms1">
            <span class="c-nerdlab u-color-neutral-xxx-dark">Nerdlab</span><br> loves to build new machines out of sometimes already forgotten technologies. Everything working on batteries deserves a better live. That can be a musical instrument, a barbecue tool or any other helpful object. We believe in the power of a clear idea, doing completely the opposite and learning ourselfs the skills to accomplish the undoable.
        </p>
    </div>
</div> -->
<!-- <div class="c-row c-row--full o-flex o-flex--justify-center o-flex--align-center u-bgcolor-alpha-base">
    <div class="o-container">
        <p class="u-color-alpha-xxx-light u-max-width-md u-ms1">
            <span class="c-nerdlab u-color-neutral-xxxx-light">Nerdlab</span> loves to build new machines out of sometimes already forgotten technologies. Everything working on batteries deserves a better live. That can be a musical instrument, a barbecue tool or any other helpful object. We believe in the power of a clear idea, doing completely the opposite and learning ourselfs the skills to accomplish the undoable.
        </p>
    </div>
</div> -->
<!-- <div class="c-row c-row--full u-bgcolor-alpha-base u-z-delta">
    <div class="o-container u-align-vertical">
        <p class="u-color-neutral-xxx-light u-max-width-md u-ms1">
            <span class="c-nerdlab u-color-neutral-xxxx-light">Nerdlab</span> loves to build new machines out of sometimes already forgotten technologies. Everything working on batteries deserves a better live. That can be a musical instrument, a barbecue tool or any other helpful object. We believe in the power of a clear idea, doing completely the opposite and learning ourselfs the skills to accomplish the undoable.
        </p>
    </div>
</div> -->
<div class="c-row c-row--full u-bgcolor-neutral-xxxx-light u-z-delta">
    <div class="o-container u-align-vertical">
        <p class="u-color-neutral-xx-dark u-max-width-md u-ms2 s-content">
            <span class="c-nerdlab u-color-neutral-xxxx-dark">Nerdlab</span> loves to build new machines out of sometimes already forgotten technologies. Everything working on batteries deserves a better live. That can be a musical instrument, a barbecue tool or any other helpful object. We believe in the power of a clear idea. <!-- <a href="#!">Bekijk ons lab</a> -->
        </p>
    </div>
</div>
<!-- <div class="c-row">
    <div class="o-container">
        <img src="/img/photos/lab.jpg" alt="">
    </div>
</div> -->
<img src="/img/photos/lab.jpg" alt="">
<div class="c-row c-row--xl u-bgcolor-neutral-xxxx-light u-z-beta">
    <div class="o-container">
        <div class="o-grid o-grid--gutter o-flex">
            <div class="o-grid__item u-1-of-2-bp4">
                <p class="u-max-width-md s-content">
                    Nerdlab is trouw aan het concept van een FabLab, een coöperatieve werkplek waar uitvinders kunnen gebruik maken van collectieve infrastructuur. Iedereen is er (gratis) welkom!
Er worden ook regelmatige basis workshops, evenementen en grotere projecten opgezet om zo het complete traject van leren, maken, verspreiden en presenteren te ontsluiten.
Nerdlab is geen FabLab omdat niet alle nodige machines aanwezig zijn. We doen graag alsof en onderschrijven weldegelijk The Fab Charter
                </p>
            </div>
            <div class="o-grid__item u-1-of-2-bp4">
                <p class="u-max-width-md s-content">
                    <span class="c-nerdlab">Nerdlab</span> is in eerste plaats een Lab. Een plaats waar we de uitvinder in onszelf kunnen loslaten en projecten, die we thuis niet kunnen maken, tot een goed eind te brengen.
De wekelijkse speeltuin wordt gehouden in het Nerdlab HQ te Gent. We hebben (zoals het hoort) een verzameling aan nieuw technologisch goed:
                </p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="c-row c-row--full u-bgcolor-neutral-xxxx-light u-z-delta">
    <div class="o-container u-align-vertical">
        <p class="u-max-width-md u-ms1">
            <span class="c-nerdlab">Nerdlab</span> loves to build new machines out of sometimes already forgotten technologies. Everything working on batteries deserves a better live. That can be a musical instrument, a barbecue tool or any other helpful object. We believe in the power of a clear idea, doing completely the opposite and learning ourselfs the skills to accomplish the undoable.
        </p>
    </div>
</div> -->
<div id="agenda" class="c-row c-row--xl u-bgcolor-alpha-xxx-light u-z-gamma">
    <div class="o-container">
        {% for item in site.data.events-future %}
            {% include components.event.html %}
        {% endfor %}
    </div>
</div>
