<nav class="c-nav-main js-nav">
    <ul class="o-list c-nav-main__list">
        <li class="c-nav-main__item {% if page.url contains "fablab" %}is-selected{% endif %}">
            <a href="{{site.baseurl}}/fablab" class="c-nav-main__link js-nav-trigger-up">Fablab</a>
        </li>
        <li class="c-nav-main__item {% if page.url contains "projecten" %}is-selected{% endif %}">
            <a href="{{site.baseurl}}/projecten" class="c-nav-main__link js-nav-trigger-up">Projecten</a>
        </li>
        <li class="c-nav-main__item {% if page.url contains "agenda" %}is-selected{% endif %}">
            <a href="{{site.baseurl}}/agenda" class="c-nav-main__link js-nav-trigger-up">Agenda</a>
        </li>
        <li class="c-nav-main__item {% if page.url contains "word-nerd" %}is-selected{% endif %}">
            <a href="{{site.baseurl}}/word-nerd" class="c-nav-main__link c-nav-main__link--button js-nav-trigger-up">Word nerd</a>
        </li>
    </ul>
</nav>
