<nav class="c-nav-main js-nav">
    <ul class="o-list c-nav-main__list">
        <li class="c-nav-main__item {% if page.url contains "fablab" %}is-selected{% endif %}">
            <a href="fablab" class="c-nav-main__link">Fablab</a>
        </li>
        <li class="c-nav-main__item {% if page.url contains "projecten" %}is-selected{% endif %}">
            <a href="projecten" class="c-nav-main__link">Projecten</a>
        </li>
        <li class="c-nav-main__item {% if page.url contains "agenda" %}is-selected{% endif %}">
            <a href="agenda" class="c-nav-main__link">Agenda</a>
        </li>
        <li class="c-nav-main__item {% if page.url contains "word-nerd" %}is-selected{% endif %}">
            <a href="word-nerd" class="c-nav-main__link c-nav-main__link--button">Word nerd</a>
        </li>
    </ul>
</nav>
