<button class="c-nav-main-trigger js-nav-trigger">
    <span class="c-nav-main-trigger__icon"></span>
    <span class="is-accessible-hidden">Menu</span>
</button>
<nav class="c-nav-main js-nav">
    <ul class="o-list c-nav-main__list">
        <!-- <li class="c-nav-main__item {% if page.url contains "index" %}is-selected{% endif %}">
            <a href="index.html" class="c-nav-main__link">Nerdlab</a>
        </li> -->
        <li class="c-nav-main__item {% if page.url contains "styleguide" %}is-selected{% endif %}">
            <a href="styleguide.html" class="c-nav-main__link">Agenda</a>
        </li>
        <li class="c-nav-main__item {% if page.url contains "styleguide" %}is-selected{% endif %}">
            <a href="styleguide.html" class="c-nav-main__link">Projecten</a>
        </li>
        <!-- <li class="c-nav-main__item {% if page.url contains "grid" %}is-selected{% endif %}">
            <a href="grid.html" class="c-nav-main__link">Agenda</a>
        </li> -->
        <!-- <li class="c-nav-main__item {% if page.url contains "flexbox" %}is-selected{% endif %}">
            <a href="flexbox.html" class="c-nav-main__link">Contact</a>
        </li> -->
    </ul>
</nav>
