<div class="c-row c-row--md c-header-row u-z-jota js-header">
    <div class="o-container c-header-container">
        <div class="c-header">
            {% include components.logo.html %}
            <button class="c-nav-main-trigger js-nav-trigger-button js-nav-trigger">
                <span class="c-nav-main-trigger__icon"></span>
                <span class="is-accessible-hidden">Menu</span>
            </button>
            {% include components.nav-main.html %}
        </div>
    </div>
</div>
