<footer class="c-row c-row--xl u-bgcolor-alpha-base">
    <div class="o-container">
        <div class="o-grid o-flex">
            <div class="o-grid__item u-1-of-2-bp4">
                <p class="u-max-width-md u-color-alpha-xx-light">
                    Nerdlab HQ <br>
                    Nieuwland 67 <br>
                    9000 Gent <br>
                    <a href="mailto:info@nerdlab.be">info@nerdlab.be</a>
                </p>
                <ul class="o-list">
                    <li><a href="#!">Twitter</a></li>
                    <li><a href="#!">Facebook</a></li>
                    <li><a href="#!">Instagram</a></li>
                </ul>
            </div>
            <div class="o-grid__item u-1-of-2-bp4">
                <p class="u-max-width-md u-color-alpha-xx-light">
                    <span class="u-color-neutral-xxxx-light">Subscribe to our Newsletter.</span> Enter your email address to get occasional updates on Ableton special offers, products and events.
                </p>
            </div>
        </div>
    </div>
</footer>
