<form class="o-flex" action="//nerdlab.us6.list-manage.com/subscribe/post?u=26083caa15a40f691a214b23c&amp;id=14a5daee70" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<input class="c-subscribe-form__input c-input-text c-input-text--lg" type="email" value="" placeholder="naam@voorbeeld.com" name="EMAIL" class="required email" id="mce-EMAIL">
	<div class="response" id="mce-error-response" style="display:none"></div>
	<div class="response" id="mce-success-response" style="display:none"></div>
	<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_26083caa15a40f691a214b23c_14a5daee70" tabindex="-1" value=""></div>
	<input class="c-subscribe-form__buton c-button c-button--lg" type="submit" value="Schrijf in" name="subscribe" id="mc-embedded-subscribe">
</form>
