<div class="c-row c-row--md c-row--cta u-z-delta">
    <div class="c-background-image c-background-image--fallback" style="background-image: url('{{ site.baseurl }}/img/photos/home-3.jpg');"></div>
    {% comment %}
    <video class="c-background-video" autoplay loop muted preload="true">
        <source src="{{ site.baseurl }}/video/nerdlab.webm" type="video/webm">
        <source src="{{ site.baseurl }}/video/nerdlab.mp4" type="video/mp4">
    </video>
    {% endcomment %}
    <p class="c-background-video__meta">
        Video: LUCA School of Arts - campus C-mine
    </p>
    <div class="o-container">
        <div class="o-grid o-grid--gutter o-flex">
            <div class="o-grid__item u-1-of-2-bp6">
                <div class="u-max-width-md">
                    <p class="c-cta__text c-typo-lead u-color-neutral-xxxxx-light">
                        Zin om samen met ons een drone te maken die je naar school of werk vliegt? Of gewoon eens een pint te komen drinken in ons Nerdlab?
                    </p>
                    <p>
                        <a href="/word-nerd" class="c-button c-button--lg c-button--cta">
                            Kom eens langs
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
