<article class="s-content o-media">
    <div class="o-grid o-grid--gutter o-flex-bp3">
        <div class="o-grid__item u-1-of-2-bp3 u-1-of-4-bp4 u-1-of-2-bp5">
            <p class="u-mb-alpha">
                {{ item.date }}
            </p>
        </div>
        <div class="o-grid__item u-1-of-2-bp3 u-3-of-4-bp4 u-1-of-2-bp5">
            <h2 class="u-ms0">
                {% if item.link != "" %}
                <a href="{{ item.link }}">
                {% endif %}
                    {{ item.title }}
                {% if item.link != "" %}
                </a>
                {% endif %}
            </h2>
        </div>
    </div>
</article>
