<div class="c-row c-row--md c-row--intro u-bgcolor-neutral-xxxx-dark u-z-delta">
    <div class="c-background-image u-opacity-alpha" style="background-image: url('img/photos/home-2.jpg');"></div>
    <div class="o-container">
        <div class="o-grid o-grid--gutter o-flex">
            <div class="o-grid__item u-1-of-2-bp4">
                <div class="s-content u-max-width-md">
                    <p class="c-typo-lead u-color-neutral-xxxxx-light">
                        <a href="/word-nerd">Word nerd</a> lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis commodi harum deleniti exercitationem nemo laudantium nisi magni illum possimus atque.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
