<article class="s-content c-article u-mb-gamma">
    <div class="o-grid o-grid--gutter o-flex">
        <p class="o-grid__item u-4-of-6-bp4 u-mb-beta">
            {{ item.date }} - <strong>{{ item.title }}</strong>
        </p>
        <p class="o-grid__item u-2-of-6-bp4 u-mb-beta u-text-align-right">
            {{ item.place }}
        </p>
    </div>
    {% if item.desc != "" %}
        <p class="u-max-width-md u-mb-beta">
            {{ item.desc }} {% if item.link != "" %}<a href="{{ item.link }}">Meer info</a>{% endif %}
        </p>
    {% endif %}
</article>
