<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <title>{{ site.title }} | {{ page.title }}</title>

    <script src="/vendor/modernizr/modernizr.js"></script>

    <script src="https://use.typekit.net/bev0ocr.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link rel="stylesheet" href="https://i.icomoon.io/public/fa60c1d18c/Nerdlab/style-svg.css">
    <script defer src="https://i.icomoon.io/public/fa60c1d18c/Nerdlab/svgxuse.js"></script>

    <link rel="stylesheet" href="/css/screen.css">
    <link rel="icon" href="favicon.png">
</head>
